[Feature]Handling NotFound(404)

As title should provide a default solution & a custom way to patch it.

@dannypsnl 
if use `rocket.Any()` to handle any method, then we can handle 404 like below
```go
var notFound = rk.Any(func() string {
    return "page not found"
})
rk.Mount("*", notFound)
```
what do you think about this?

I will say this `rk.Mount("*", ...)` is a little bit missing for me.
What about emit it directly `rk.Any(func() string {})`?
Or `rk.Catch`

RFC 7231
```
6.5.4.  404 Not Found

   The 404 (Not Found) status code indicates that the origin server did
   not find a current representation for the target resource or is not
   willing to disclose that one exists.  A 404 status code does not
   indicate whether this lack of representation is temporary or
   permanent; the 410 (Gone) status code is preferred over 404 if the
   origin server knows, presumably through some configurable means, that
   the condition is likely to be permanent.

   A 404 response is cacheable by default; i.e., unless otherwise
   indicated by the method definition or explicit cache controls (see
   Section 4.2.2 of [RFC7234]).
```

I agree with you, and I think Catch is better than Any
or Maybe use `rk.Default`?

Looks good, use `Default` is pretty make sense.